<p>
  <mat-toolbar class="toolbar-crud">
    <span>Nutricare CRUDs</span>
    <span class="spacer"></span>
    <a class="btn-spacer" mat-button [routerLink]="'/recipes'">Recipes</a>
    <a class="btn-spacer" mat-button [routerLink]="'/nutritionists'">Nutritionists</a>
    <a class="btn-spacer" mat-button [routerLink]="'/clients'">Clients</a>
    <a class="btn-spacer" mat-button [routerLink]="'/diets'">Diets</a>
    <a class="btn-spacer" mat-button [routerLink]="'/recommendations'">Recommendations</a>
    <a class="btn-spacer" mat-button [routerLink]="'/bills'">Bills</a>
    <a class="btn-spacer" mat-button [routerLink]="'/specialties'">Specialties</a>
    <a class="btn-spacer" mat-button [routerLink]="'/appointments'">Appointments</a>
    <a class="btn-spacer" mat-button [routerLink]="'/paymentMethod'">Payment Method</a>
  </mat-toolbar>
</p>
