<h2 mat-dialog-title>Add a nutritionist</h2>
<mat-dialog-content >
  <form [formGroup]="formValue">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Placeholder">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Placeholder">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Placeholder">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Placeholder">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Placeholder">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>CNP Number</mat-label>
        <input matInput formControlName="cnpNumber" placeholder="Placeholder">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>datetime</mat-label>
        <input matInput formControlName="datetime" placeholder="Placeholder">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close> Cancel </button>
  <button mat-button (click)="createNutritionistDetails()" mat-dialog-close> Add </button>
</mat-dialog-actions>
